@import "tailwindcss";

.top-bar {
  background-color: color-mix(in oklab, var(--top-bar) 80%, transparent);
  border-bottom: 1px solid var(--border);
}

html,
body {
  overscroll-behavior: none; /* prevent bounce + scroll chaining */
  overscroll-behavior-y: none;
}

// paddings
:root {
  --container-max: 1200px;
  --container-padding: clamp(16px, 4vw, 32px);
}

.container {
  padding-inline: var(--container-padding);
  max-width: var(--container-max);
  margin-inline: auto;
}
